body{
    background-image: url("img/matterhorn2.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    }

.cytat{
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 50px;
    text-align: center
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: orange;}

.dropdown:hover .dropdown-content {
  display: block;
}
.header .icon {
  display: none;
}

.menu {
    display: none;
}

@media only screen and (max-width:620px) {
  .cytat {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 100px;
    text-align: center;
    font-size: 10px
  }
}

@media screen and (max-width: 600px) {
  .header li:not(:first-child) {
    display: none;
    }
    .header a{
        color: rgba(0,0,0,0.0);
    }
    
  .header a.icon {
    float: right;
    display: block;
    color: white;
    margin-top: -30px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  
.menures {
  float:right;
  width:20%;
  text-align:left;
    overflow: hidden;
   }
.menures a {
  background-color:rgba(0,0,0,0.2);
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:white;
  text-decoration: none;
    
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menures a:hover {
    background-color: red;
}
    
.title{
  background-color: #e5e5e5;
  padding: .8rem;
  cursor: pointer;
  position: relative;
  user-select: none;
  color: #fff;
  }

.content{
  padding: 1rem;
  line-height: 1.5rem;
  display: none;
}

.active{
  display: block;
}
    
span{
  position: absolute;
  right: 1rem;
}
}

